/* GLOBAL STYLES ********START */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* GLOBAL STYLES ********END */
footer {

   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 20rem auto;
}


.div1 {

display: grid;
 
  grid-template-columns: repeat(5,auto);
   justify-content: space-between;
  padding: 3rem 6rem;
  background: #1e1e1e;
  color:#fff
}

.link{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
}
.link a{
  color:#fff
}

.div1 h3{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
padding-bottom: 1rem;

}

.news .btn-email{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
margin-right: 1rem;
background: transparent;
cursor: pointer;
border-radius: 10px;
padding: .5rem;
color: rgba(255, 255, 255, 0.6);
border: .3px solid gainsboro;


}
.fa-envelope-o{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #fff;
background: transparent;

}
.news .btn-sub{
  background: #FCD445;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
padding: .2rem;
cursor: pointer;
transition: all .3s ease-out;
border: none;
}
.news .btn-sub:hover{
  background: #a18b39;
  color: #fff;

}
.news ul{
  margin-bottom: 1rem;
}






.div2{
  padding: 3rem 6rem;
 
  background: #1e1e1e;
  width: 100%;
}
.line{
  padding: 3rem 6rem;
  border-top: 1px solid black;
  background: #1e1e1e;
  
}
.line .line-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
  
}






.div3 {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
}

.container {
  display: flex;

  width: 600px;
  justify-content: space-between;
}
.social img {
  padding-right: 1rem;
  cursor: pointer;
}
