@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* width: 100%; */
}
body{
    min-height: 100%;
    max-height: 100%;
    background-color: black;
}
main{
    width: 60%;
    height: 85vh;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 5rem auto;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;   
    margin: 2rem auto;
}
.logleftside-logo{
    background-image: url('/images/login-Asset/Rectanglelogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    align-items: center;
    height: 100%;
    border-radius: 8px 0 0 8px;
}
.priceylogo{
    margin: 10rem 6rem;
}
.rightside-log{
    display: grid;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.rightside-log{

    align-items: center;
}
.log-h1{
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
    background: linear-gradient(180deg, #03045E 0%, #00B4D8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}
.log-p{
    width:100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .7rem;
    letter-spacing: 0.06em;
    color: #5F5F5F;
    text-align: center;
}
.cr8t-rec{
    margin-bottom: 10px;
}
.details-collection{
    margin-top: 1.5rem;
}
.mail input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}
.paswd input {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
}

.link-a{
    text-decoration: none;
    margin-left: 10rem;
    margin-top: 5rem;
}
.link-s{
        text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}
.login-with a{
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}
.rightside-log-rec{
    display: block;
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.pad-rec {
    display: grid;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pad-rec img{
    text-align: center;
}
.log-p-rec{
    width:100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .7rem;
    letter-spacing: 0.06em;
    color: #5F5F5F;
    text-align: center;
    margin-bottom: 15rem;
}
.login-with-rec a{
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}
.btn{
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    color: white;

}
.btn-rec{
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 5px;
    color: white;
    margin-bottom:5rem ;

}
.btn-rec a{
    color: white;
    text-decoration: none;
}
.mail-rec input{
     margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: 8px;
}
.btn-sign{
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;

}

.btn-sign a{
    color: white;
    text-decoration: none;
}
.btn-google{
    display: flex;
    width: 100%;
    padding: 5px;
    border-radius: 4.84534px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
    font-size: .8rem;
    justify-content: center;
    gap: 5px;
}

.btn-facebook{
    display: flex;
    width: 100%;
    padding: 5px;
    border-radius: 4.84534px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
    justify-content: center;
    gap: 5px;
}



/* styling for the signIn page*/
.main_flex_conatainer-signup{
    width: 70%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 5rem auto;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;   
    /* margin: 1rem auto; */
}
.signleftside{
    background-image: url('/images/login-Asset/Rectangle6.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    align-items: center;
    height:100%;
    border-radius: 8px 0 0 8px;

}
#orOpt{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#orOpt img{
    margin-top: 7px;
}

#checkbox{
    margin:5px 0px;
}





