@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}

a,
ul,
li {
    text-decoration: none;
}

.prc-header {
    width: 100%;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.prc-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prc-logo img {
    width: 10rem;
    padding: 2rem 0 0 2rem;
    margin: 0;

}

.prc-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.prc-nav li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #5F5F5F;
    display: inline-block;
    width: 100%;
    position: relative;
}

.prc-nav li a:hover {
    color: #03045EFC;
}

.prc-nav li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #03045EFC;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all .4s ease;
}

.prc-nav li a:hover::after {
    width: 100%;
}

button {
    width: 91px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    color: #03045E;
    ;
}

.login:hover {
    background: #03045E;
    border: none;
    outline: none;
    color: white;
}

.signup:hover {
    background: #03045E;
    border: none;
    outline: none;
    color: white;
}

.auth-user {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart {
    margin-top: 0.5rem;
}

.username {
    margin-top: 1rem;
}

/*===================HERO SECTION======================*/
#hero-section {
    height: 60vh;
    /* padding: 6rem; */
    background-image: url('/images/hero-image-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.search-container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.search-form {
    width: 100%;
    height: 20PX;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem;
    /* margin: 5rem auto; */
}


.search-form h1 {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 5px;
}

.search-bar input {
    flex: 1;
    width: 45%;
    height: 30px;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 8px;
    background: white;
    outline: none;
    align-items: center;
}

.fa-search {
    position: relative;
    color: rgb(207, 201, 201);
    font-size: 1.3rem;
    right: -35px;
    z-index: 1;
}

#search-btn {
    background: #03045E;
    padding: 6px;
    border: none;
    outline: none;
    color: white;
    margin-left: -100px;
    font-size: 1rem;
    font-weight: 700;


}

/*#search-btn:hover {
    color: black;
    transition: .3s;
}*/

/*=============== Product Section =======================*/
.product {
    display: flex;
    flex-direction: row;
}

.container-topdeal-product {
    width: 95%;
    margin: 0 auto;
    padding: .5rem;
}

.container-item-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.product-item-top {
    width: 95%;
    padding: 1rem;
    /* height:4vh ; */
    background: #C5C5C5;
    border-radius: 10px;
    text-align: center;
}

.product-item-top img {
    height: 25vh;
    width: 100%;
}

/*==========================TOP DEALS=========================*/
.container-item-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.top-deals-container button {
    background: navy;
    color: #ffffff;
    width: 95%;
}

.top-deals-container {
    width: 95%;
    height: 341px;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    margin-top: 1rem;
}


.top-deals-container img {
    width: 50%;
}

.item-price img {
    width: 10%;
    display: flex;
    flex-direction: row;
}

.item-price .stars i {
    color: #F1C644;
}

.item-price .price p {
    font-weight: 500;
}

.gt-shop button {
    font-size: large;
    font-weight: 500;
    padding-bottom: 2rem;
}

.title-head {
    display: flex;
    justify-content: space-between;
}

.title-head .sm {
    color: #0077B6;
    cursor: pointer;

}

/*=====================FOOTER SECTION=======================*/
.foot {
    display: grid;
    grid-template-rows: 5fr;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}

.footer {
    background-color: #1e1e1e;
    padding: 7px 0;
}

.footer-col {
    width: 0 25%;
    padding: 0 15px;
    color: white;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin: 30px;

}

.pricey {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500px;
    color: white;
    /* width: 133px; */
}

.buttom {
    background-color: #ffff;
    width: 100%;
    height: 6vh;
}

.container {
    padding: 5px;
    max-width: 100%;
    /* background-color: #231f20; */
    margin: auto;

}




/*about t&c contact*/
main {
    padding: 2em;
    margin: 0% 20%;

}

.tcdiv h2 {
    padding: 5px;
    color: rgb(49, 86, 220);
    letter-spacing: 1px;
    line-height: 20px;

}

.tcdiv h3 {
    padding: 5px;
    letter-spacing: 1px;
    line-height: 20px;
    color: rgb(49, 86, 220);
}

.tcdiv p {
    letter-spacing: 1px;
    padding: 5px;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

#subject {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
}

#con_name {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
}

#email {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
}

#pnum {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
}

#con_message {
    width: 80%;
    height: 300px;
    border-radius: 3px;
    border-width: 2px;
}

#con_btn {
    background-color: rgb(49, 86, 220);
    color: white;
}

.table_div label {
    letter-spacing: 1px;
    padding: 5px;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

/*=============MEDIA QUERIES=============*/
@media (max-width:560px) {
    .prc-nav {
        position: fixed;
        inset: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;

    }

    .nav-toggle {
        font-size: 2rem;

    }
}